node-red/flows.json
[
    {
        "id": "3f025920437f7905",
        "type": "tab",
        "label": "HAIC Client Example",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5cd3e556e55bdc82",
        "type": "tab",
        "label": "KF Client Dynamic Triggering examples",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7dfe840f35691401",
        "type": "tab",
        "label": "KF Client Schedule",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9db4af518e108976",
        "type": "tab",
        "label": "Feedback Consolidation Pattern",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6d5f83638870930c",
        "type": "subflow",
        "name": "HAIC API Config",
        "info": "",
        "category": "HumAIne HAIC Benchmark Suite",
        "in": [
            {
                "x": 60,
                "y": 60,
                "wires": [
                    {
                        "id": "f382319ee574b271"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 440,
                "y": 60,
                "wires": [
                    {
                        "id": "f382319ee574b271",
                        "port": 0
                    }
                ]
            },
            {
                "x": 330,
                "y": 200,
                "wires": [
                    {
                        "id": "f382319ee574b271",
                        "port": 1
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "Use Globally",
                "type": "bool",
                "value": "false",
                "ui": {
                    "type": "input",
                    "opts": {
                        "types": [
                            "bool"
                        ]
                    }
                }
            },
            {
                "name": "Use HTTPS",
                "type": "bool",
                "value": "false",
                "ui": {
                    "type": "input",
                    "opts": {
                        "types": [
                            "bool"
                        ]
                    }
                }
            },
            {
                "name": "IP Address",
                "type": "str",
                "value": "127.0.0.1",
                "ui": {
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            },
            {
                "name": "Port",
                "type": "num",
                "value": "8000",
                "ui": {
                    "type": "input",
                    "opts": {
                        "types": [
                            "num"
                        ]
                    }
                }
            },
            {
                "name": "Username",
                "type": "str",
                "value": "",
                "ui": {
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            },
            {
                "name": "Password",
                "type": "str",
                "value": "",
                "ui": {
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            },
            {
                "name": "Options",
                "type": "json",
                "value": "{}",
                "ui": {
                    "type": "input",
                    "opts": {
                        "types": [
                            "json"
                        ]
                    }
                }
            }
        ],
        "meta": {},
        "color": "#58A69F",
        "inputLabels": [
            "HAIC API Setup trigger"
        ],
        "outputLabels": [
            "HAIC API connection status",
            "Error"
        ],
        "icon": "node-red-contrib-custom-icons/haic_icon_small.svg"
    },
    {
        "id": "36d9140454085321",
        "type": "subflow",
        "name": "KubeFlow Pipelines Configuration",
        "info": "",
        "category": "KubeFlow",
        "in": [
            {
                "x": 100,
                "y": 40,
                "wires": [
                    {
                        "id": "83a3c05684e3279a"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 480,
                "y": 40,
                "wires": [
                    {
                        "id": "83a3c05684e3279a",
                        "port": 0
                    }
                ]
            },
            {
                "x": 430,
                "y": 120,
                "wires": [
                    {
                        "id": "c742a98e16e9b20f",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#4179F4",
        "inputLabels": [
            "(Re-) Configuration Trigger"
        ],
        "outputLabels": [
            "Configuration Status",
            "Error"
        ],
        "icon": "node-red-contrib-custom-icons/kfp.svg"
    },
    {
        "id": "6c8e8b38498d052d",
        "type": "subflow",
        "name": "Pipeline Trigger",
        "info": "",
        "category": "KubeFlow",
        "in": [
            {
                "x": 60,
                "y": 40,
                "wires": [
                    {
                        "id": "ea404d026ea6c63a"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 360,
                "y": 40,
                "wires": [
                    {
                        "id": "ea404d026ea6c63a",
                        "port": 0
                    }
                ]
            },
            {
                "x": 350,
                "y": 140,
                "wires": [
                    {
                        "id": "c7dc64994037a163",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#4179F4",
        "inputLabels": [
            "Trigger Input"
        ],
        "outputLabels": [
            "Trigger Status",
            "Error"
        ],
        "icon": "node-red-contrib-custom-icons/kfp.svg"
    },
    {
        "id": "56428973cc4e2070",
        "type": "subflow",
        "name": "Pipeline Run Results",
        "info": "",
        "category": "KubeFlow",
        "in": [
            {
                "x": 40,
                "y": 40,
                "wires": [
                    {
                        "id": "ff9ffccc9764366b"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 390,
                "y": 40,
                "wires": [
                    {
                        "id": "ff9ffccc9764366b",
                        "port": 0
                    }
                ]
            },
            {
                "x": 370,
                "y": 120,
                "wires": [
                    {
                        "id": "b61e73202a6550ff",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#4179F4",
        "inputLabels": [
            "Pipeline ID Inputs"
        ],
        "outputLabels": [
            "Run Results",
            "Error"
        ],
        "icon": "node-red-contrib-custom-icons/kfp.svg"
    },
    {
        "id": "9c7d38f8544a5123",
        "type": "subflow",
        "name": "Recurring Pipeline Schedule",
        "info": "",
        "category": "KubeFlow",
        "in": [
            {
                "x": 40,
                "y": 40,
                "wires": [
                    {
                        "id": "321dbfcfb8648578"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 400,
                "y": 40,
                "wires": [
                    {
                        "id": "321dbfcfb8648578",
                        "port": 0
                    }
                ]
            },
            {
                "x": 370,
                "y": 100,
                "wires": [
                    {
                        "id": "6dd0ee0c462e2b1d",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#4179F4",
        "inputLabels": [
            "Pipeline Schedule Inputs"
        ],
        "outputLabels": [
            "Schedule Status",
            "Error"
        ],
        "icon": "node-red-contrib-custom-icons/kfp.svg"
    },
    {
        "id": "d6a71f5d83bb6739",
        "type": "subflow",
        "name": "Recurring Pipeline Event Listener",
        "info": "",
        "category": "KubeFlow",
        "in": [
            {
                "x": 40,
                "y": 60,
                "wires": [
                    {
                        "id": "30f6723eaede75a4"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 420,
                "y": 120,
                "wires": [
                    {
                        "id": "e1fa44bd0d122a37",
                        "port": 0
                    }
                ]
            },
            {
                "x": 350,
                "y": 180,
                "wires": [
                    {
                        "id": "82dd63aacba71e6b",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#4179F4",
        "inputLabels": [
            "Listener Setup Inputs"
        ],
        "outputLabels": [
            "Recurring Pipeline Results",
            "Error"
        ],
        "icon": "node-red-contrib-custom-icons/kfp.svg"
    },
    {
        "id": "3e0b79a15665c98a",
        "type": "subflow",
        "name": "Evaluation Config",
        "info": "",
        "category": "HumAIne HAIC Benchmark Suite",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "64122fae851b3b9d"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 370,
                "y": 40,
                "wires": [
                    {
                        "id": "64122fae851b3b9d",
                        "port": 0
                    }
                ]
            },
            {
                "x": 330,
                "y": 120,
                "wires": [
                    {
                        "id": "0f4f17ea709a96d7",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#58A69F",
        "inputLabels": [
            "Evaluation Config"
        ],
        "outputLabels": [
            "Status",
            "Error"
        ],
        "icon": "node-red-contrib-custom-icons/haic_icon_small.svg"
    },
    {
        "id": "9e615b8a6da73d11",
        "type": "subflow",
        "name": "Add Evaluation Log",
        "info": "",
        "category": "HumAIne HAIC Benchmark Suite",
        "in": [
            {
                "x": 60,
                "y": 40,
                "wires": [
                    {
                        "id": "cfbf9857f9fb93cb"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 460,
                "y": 40,
                "wires": [
                    {
                        "id": "cfbf9857f9fb93cb",
                        "port": 0
                    }
                ]
            },
            {
                "x": 430,
                "y": 120,
                "wires": [
                    {
                        "id": "ed9cacde7a5dc142",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#58A69F",
        "inputLabels": [
            "Evaluation Log"
        ],
        "outputLabels": [
            "Addition Status",
            "Error"
        ],
        "icon": "node-red-contrib-custom-icons/haic_icon_small.svg"
    },
    {
        "id": "3cc374149e5165e4",
        "type": "subflow",
        "name": "Access Evaluation Logs",
        "info": "",
        "category": "HumAIne HAIC Benchmark Suite",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "3245c173b6b43c11"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 440,
                "y": 40,
                "wires": [
                    {
                        "id": "3245c173b6b43c11",
                        "port": 0
                    }
                ]
            },
            {
                "x": 410,
                "y": 120,
                "wires": [
                    {
                        "id": "b6c8cc7e3b585676",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#58A69F",
        "inputLabels": [
            "Request Logs"
        ],
        "outputLabels": [
            "Evaluation Logs",
            "Error"
        ],
        "icon": "node-red-contrib-custom-icons/haic_icon_small.svg"
    },
    {
        "id": "ee62c2e2054b032c",
        "type": "subflow",
        "name": "Evaluation Trigger",
        "info": "",
        "category": "HumAIne HAIC Benchmark Suite",
        "in": [
            {
                "x": 60,
                "y": 40,
                "wires": [
                    {
                        "id": "5f1f4fb85e5e103c"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 470,
                "y": 40,
                "wires": [
                    {
                        "id": "5f1f4fb85e5e103c",
                        "port": 0
                    }
                ]
            },
            {
                "x": 390,
                "y": 120,
                "wires": [
                    {
                        "id": "e96dee35d8b21030",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#58A69F",
        "inputLabels": [
            "Evaluation Trigger"
        ],
        "outputLabels": [
            "Evaluation Trigger Status",
            "Error"
        ],
        "icon": "node-red-contrib-custom-icons/haic_icon_small.svg"
    },
    {
        "id": "e260c7f298a6dd52",
        "type": "subflow",
        "name": "Access Evaluation Results",
        "info": "",
        "category": "HumAIne HAIC Benchmark Suite",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "f0bbc6d24216e546"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 470,
                "y": 40,
                "wires": [
                    {
                        "id": "f0bbc6d24216e546",
                        "port": 0
                    }
                ]
            },
            {
                "x": 430,
                "y": 120,
                "wires": [
                    {
                        "id": "7cc74023a28179ee",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#58A69F",
        "inputLabels": [
            "Request Evaluation Results"
        ],
        "outputLabels": [
            "Evaluation Results",
            "Error"
        ],
        "icon": "node-red-contrib-custom-icons/haic_icon_small.svg"
    },
    {
        "id": "352dada70d1a3bc5",
        "type": "minio-config",
        "name": "MinIO Instance",
        "host": "minio",
        "port": "9000",
        "useSsl": false
    },
    {
        "id": "4e6412a56bb04544",
        "type": "websocket-listener",
        "path": "/ws/add_eval_log",
        "wholemsg": "false"
    },
    {
        "id": "8a0706320fa877e8",
        "type": "amqp-broker",
        "name": "humaine in",
        "host": "10.100.59.183",
        "port": "5672",
        "vhost": "humaine",
        "tls": false,
        "credsFromSettings": false
    },
    {
        "id": "f382319ee574b271",
        "type": "function",
        "z": "6d5f83638870930c",
        "name": "HAIC API Setup",
        "func": "const haic_setup = context.get(\"haic_setup\");\n\nconst {\n    clientConfig,\n    testResponse,\n    error,\n} = await haic_setup(\n    msg.payload.IP_Address,\n    msg.payload.Port,\n    msg.payload.Username,\n    msg.payload.Password,\n    msg.payload.Options,\n    msg.payload.Use_HTTP,\n);\n\nlet useGlobally = env.get(\"Use Globally\");\n\nif (Object.hasOwn(msg.payload, \"Use_Globally\")){\n    useGlobally = msg.payload.Use_Globally;\n}\n\nif (error == null) {\n    // Successful setup\n    msg.HaicApiClientConfiguration = clientConfig;\n    msg.payload = \"HAIC Client Configuration setup successful!\";\n    msg.HaicTestCallOutput = testResponse;\n    msg.humanAiBenchmarkSuite = humanAiBenchmarkSuite;\n    msg.useGlobally = useGlobally;\n\n    return [msg, null];\n} else {\n    // Error during setup\n    msg.error = error;\n    msg.humanAiBenchmarkSuite = humanAiBenchmarkSuite;\n    msg.FailedHaicApiClientConfiguration = clientConfig;\n\n    return [null, msg];\n}\nreturn msg;",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\nconst RETRIES_NUM = 3;\nconst RETRIES_INTERVAL = 1000;\n\nconst init_msg = {};\n\nconst {\n    Configuration,\n    ConfigurationApi\n} = humanAiBenchmarkSuite;\n\nconst isEmpty = (obj) => {\n    for (const prop in obj) {\n        if (Object.hasOwn(obj, prop)) {\n            return false;\n        }\n    }\n    return true;\n};\n\nconst delay = (time) => {\n    return new Promise(res => {\n        setTimeout(res, time);\n    })\n};\n\nconst retryWithDelay = async (fn, retries = 3, interval = 100) => {\n    try {\n        return await fn();\n    } catch (err) {\n        if (retries <= 0) throw err;\n        await delay(interval);\n        return retryWithDelay(fn, retries - 1, interval);\n    }\n};\n\nconst haic_setup = async (ip, port, username, password, options, use_https = true) => {\n    const scheme = use_https ? 'https://' : \"http://\";\n\n    const configParams = {\n        basePath: `${scheme}${ip}:${port}`,\n    };\n\n    if (username && password) {\n        configParams.username = username;\n        configParams.password = password;\n    }\n\n    if (!isEmpty(options)) {\n        configParams.options = options;\n    }\n\n    const config = new Configuration(configParams);\n    const testClient = new ConfigurationApi(config);\n    let response = null;\n    let err_msg = null;\n\n    try {\n        response = await retryWithDelay(\n            // A test call, given the complete HAIC API client instance.\n            async () => {\n               await testClient.getAllConfigurationsConfigurationListGet();\n            },\n            RETRIES_NUM,\n            RETRIES_INTERVAL,\n        );\n    } catch (err) {\n        err_msg = `Failed to connect to HAIC Benchmarking Suite! Configuration must be invalid! ${err}`;\n        node.error(err_msg);\n    }\n\n    return {\n        \"clientConfig\": config,\n        \"testResponse\": response,\n        \"error\": err_msg\n    };\n\n\n};\n\ncontext.set(\n    \"haic_setup\",\n    haic_setup\n);\n\nconst {\n    clientConfig,\n    testResponse,\n    error,\n} = await haic_setup(\n    env.get(\"IP Address\"),\n    env.get(\"Port\"),\n    env.get(\"Username\"),\n    env.get(\"Password\"),\n    env.get(\"Options\"),\n    env.get(\"Use HTTPS\")\n);\n\nif (error == null) {\n    // Successful setup\n    init_msg.HaicApiClientConfiguration = clientConfig;\n    init_msg.payload = \"HAIC Client Configuration setup successful!\";\n    init_msg.HaicTestCallOutput = testResponse;\n    init_msg.humanAiBenchmarkSuite = humanAiBenchmarkSuite;\n    init_msg.useGlobally = env.get(\"Use Globally\");\n\n    node.send([init_msg, null]);\n} else {\n    // Error during setup\n    init_msg.payload = error;\n    init_msg.error = error;\n    init_msg.humanAiBenchmarkSuite = humanAiBenchmarkSuite;\n    init_msg.FailedHaicApiClientConfiguration = clientConfig;\n\n    node.send([null, init_msg]);\n}",
        "finalize": "",
        "libs": [
            {
                "var": "humanAiBenchmarkSuite",
                "module": "human_ai_benchmark_suite"
            }
        ],
        "x": 200,
        "y": 60,
        "wires": [
            [
                "e9e39ea536989380"
            ],
            []
        ]
    },
    {
        "id": "e9e39ea536989380",
        "type": "function",
        "z": "6d5f83638870930c",
        "name": "Set HAIC API Client Config",
        "func": "if(msg.useGlobally) {\n    global.set(\"HaicApiClientConfiguration\", msg.HaicApiClientConfiguration);\n    context.set(\"useGlobally\", true);\n} else {\n    // Sets on the context of the \"parent\" flow, where this subflow is instantiated.\n    flow.set(\"$parent.HaicApiClientConfiguration\", msg.HaicApiClientConfiguration);\n    context.set(\"useGlobally\", false);\n}",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "// Code added here will be run when the\n// node is being stopped or re-deployed.\nconst useGlobally = context.get(\"useGlobally\");\n\nif (useGlobally) {\n    global.set(\"HaicApiClientConfiguration\", undefined);\n} else {\n    flow.set(\"$parent.HaicApiClientConfiguration\", undefined);\n}",
        "libs": [],
        "x": 460,
        "y": 120,
        "wires": [],
        "icon": "font-awesome/fa-floppy-o"
    },
    {
        "id": "83a3c05684e3279a",
        "type": "function",
        "z": "36d9140454085321",
        "name": "KFP Client Configuration",
        "func": "\n// msg.payload = global.get(\"KubeFlowClient\"); ALTERNATIVE\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\n// Use this one AS ALTERNATIVE ONLY...\n// const { ConfigurationService } = global.get(\"KubeFlowClient\");",
        "finalize": "",
        "libs": [
            {
                "var": "kubeflowPipelinesApi",
                "module": "kubeflow_pipelines_api"
            }
        ],
        "x": 250,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "c742a98e16e9b20f",
        "type": "catch",
        "z": "36d9140454085321",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 280,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "ea404d026ea6c63a",
        "type": "function",
        "z": "6c8e8b38498d052d",
        "name": "Trigger Pipeline",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "kubeflowPipelinesApi",
                "module": "kubeflow_pipelines_api"
            }
        ],
        "x": 180,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "c7dc64994037a163",
        "type": "catch",
        "z": "6c8e8b38498d052d",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 200,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "ff9ffccc9764366b",
        "type": "function",
        "z": "56428973cc4e2070",
        "name": "Get Pipeline Run Results",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "kubeflowPipelinesApi",
                "module": "kubeflow_pipelines_api"
            }
        ],
        "x": 190,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "b61e73202a6550ff",
        "type": "catch",
        "z": "56428973cc4e2070",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 220,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "321dbfcfb8648578",
        "type": "function",
        "z": "9c7d38f8544a5123",
        "name": "Set KF Pipeline Schedule",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "kubeflowPipelinesApi",
                "module": "kubeflow_pipelines_api"
            }
        ],
        "x": 190,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "6dd0ee0c462e2b1d",
        "type": "catch",
        "z": "9c7d38f8544a5123",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 220,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "30f6723eaede75a4",
        "type": "function",
        "z": "d6a71f5d83bb6739",
        "name": "Dynamic Listener Setup",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "e1fa44bd0d122a37",
        "type": "function",
        "z": "d6a71f5d83bb6739",
        "name": "Event Listener",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "82dd63aacba71e6b",
        "type": "catch",
        "z": "d6a71f5d83bb6739",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 200,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "64122fae851b3b9d",
        "type": "function",
        "z": "3e0b79a15665c98a",
        "name": "Set Evaluation Config",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "0f4f17ea709a96d7",
        "type": "catch",
        "z": "3e0b79a15665c98a",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 180,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "ed9cacde7a5dc142",
        "type": "catch",
        "z": "9e615b8a6da73d11",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 220,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "cfbf9857f9fb93cb",
        "type": "function",
        "z": "9e615b8a6da73d11",
        "name": "Add Evaluation Log",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "3245c173b6b43c11",
        "type": "function",
        "z": "3cc374149e5165e4",
        "name": "Access Evaluation Logs",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "b6c8cc7e3b585676",
        "type": "catch",
        "z": "3cc374149e5165e4",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 240,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "5f1f4fb85e5e103c",
        "type": "function",
        "z": "ee62c2e2054b032c",
        "name": "Trigger Evaluation Process",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "e96dee35d8b21030",
        "type": "catch",
        "z": "ee62c2e2054b032c",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 260,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "f0bbc6d24216e546",
        "type": "function",
        "z": "e260c7f298a6dd52",
        "name": "Access Evaluation Results",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "7cc74023a28179ee",
        "type": "catch",
        "z": "e260c7f298a6dd52",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 280,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "457db4028a714336",
        "type": "subflow:6d5f83638870930c",
        "z": "3f025920437f7905",
        "name": "",
        "env": [
            {
                "name": "IP Address",
                "value": "backend",
                "type": "str"
            }
        ],
        "x": 350,
        "y": 40,
        "wires": [
            [
                "8535dcb7749d12d4"
            ],
            [
                "0c24b71d92ae68aa"
            ]
        ]
    },
    {
        "id": "8535dcb7749d12d4",
        "type": "debug",
        "z": "3f025920437f7905",
        "name": "HAIC API Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 20,
        "wires": []
    },
    {
        "id": "ac74fc14fb8fd09f",
        "type": "websocket in",
        "z": "3f025920437f7905",
        "name": "Add Evaluation Log",
        "server": "4e6412a56bb04544",
        "client": "",
        "x": 110,
        "y": 320,
        "wires": [
            [
                "a32e3be57ce24c24"
            ]
        ]
    },
    {
        "id": "2ea3a7e8a30bbbe4",
        "type": "inject",
        "z": "3f025920437f7905",
        "name": "trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "427d9cbd4d8bf008"
            ]
        ]
    },
    {
        "id": "427d9cbd4d8bf008",
        "type": "function",
        "z": "3f025920437f7905",
        "name": "Prepare HAIC Evaluation Config",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 180,
        "wires": [
            [
                "d8b8d134790fcc86"
            ]
        ]
    },
    {
        "id": "d8b8d134790fcc86",
        "type": "subflow:3e0b79a15665c98a",
        "z": "3f025920437f7905",
        "name": "",
        "x": 550,
        "y": 180,
        "wires": [
            [
                "79861fc8ba4d35a0",
                "548572b61b01ba84"
            ],
            [
                "6eb1cea41e534e9e"
            ]
        ]
    },
    {
        "id": "79861fc8ba4d35a0",
        "type": "debug",
        "z": "3f025920437f7905",
        "name": "Config Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 140,
        "wires": []
    },
    {
        "id": "6eb1cea41e534e9e",
        "type": "debug",
        "z": "3f025920437f7905",
        "name": "Error handling",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 240,
        "wires": []
    },
    {
        "id": "548572b61b01ba84",
        "type": "function",
        "z": "3f025920437f7905",
        "name": "Evaluation Config Set",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "a32e3be57ce24c24",
        "type": "function",
        "z": "3f025920437f7905",
        "name": "Prepare evaluation log",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 320,
        "wires": [
            [
                "177c20dc63803101"
            ]
        ]
    },
    {
        "id": "177c20dc63803101",
        "type": "subflow:9e615b8a6da73d11",
        "z": "3f025920437f7905",
        "name": "",
        "x": 550,
        "y": 320,
        "wires": [
            [
                "cdb477a98e9f7dc5"
            ],
            [
                "5895e7226e85fd39"
            ]
        ]
    },
    {
        "id": "9999681aa081c4b7",
        "type": "inject",
        "z": "3f025920437f7905",
        "name": "trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 500,
        "wires": [
            [
                "fd7faa26aa52eb78"
            ]
        ]
    },
    {
        "id": "fd7faa26aa52eb78",
        "type": "function",
        "z": "3f025920437f7905",
        "name": "pre-trigger logic",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 500,
        "wires": [
            [
                "bb8d8e3c93033918"
            ]
        ]
    },
    {
        "id": "bb8d8e3c93033918",
        "type": "subflow:ee62c2e2054b032c",
        "z": "3f025920437f7905",
        "name": "",
        "x": 510,
        "y": 500,
        "wires": [
            [
                "e5d5871e033a236e"
            ],
            [
                "f34c2af2de0a46a1"
            ]
        ]
    },
    {
        "id": "e5d5871e033a236e",
        "type": "function",
        "z": "3f025920437f7905",
        "name": "post-trigger logic",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 520,
        "wires": [
            [
                "4b58f8cefa56a306"
            ]
        ]
    },
    {
        "id": "f34c2af2de0a46a1",
        "type": "debug",
        "z": "3f025920437f7905",
        "name": "Error handling",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 560,
        "wires": []
    },
    {
        "id": "946fee3081b4c03a",
        "type": "http in",
        "z": "3f025920437f7905",
        "name": "Get Evaluation Log",
        "url": "/evaluation_log/{{id}}",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 420,
        "wires": [
            [
                "b6375845c5da5c22"
            ]
        ]
    },
    {
        "id": "4ac61f62232da56d",
        "type": "http response",
        "z": "3f025920437f7905",
        "name": "Send Evaluation Logs",
        "statusCode": "",
        "headers": {},
        "x": 960,
        "y": 420,
        "wires": []
    },
    {
        "id": "de0960e0207b8c65",
        "type": "subflow:3cc374149e5165e4",
        "z": "3f025920437f7905",
        "name": "",
        "x": 520,
        "y": 420,
        "wires": [
            [
                "538c98c93dc4ec4e"
            ],
            [
                "56502e1af53b33e3"
            ]
        ]
    },
    {
        "id": "b6375845c5da5c22",
        "type": "function",
        "z": "3f025920437f7905",
        "name": "Request access",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 420,
        "wires": [
            [
                "de0960e0207b8c65"
            ]
        ]
    },
    {
        "id": "538c98c93dc4ec4e",
        "type": "function",
        "z": "3f025920437f7905",
        "name": "parse and prepare",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 420,
        "wires": [
            [
                "4ac61f62232da56d"
            ]
        ]
    },
    {
        "id": "5895e7226e85fd39",
        "type": "debug",
        "z": "3f025920437f7905",
        "name": "Error handling",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 340,
        "wires": []
    },
    {
        "id": "56502e1af53b33e3",
        "type": "debug",
        "z": "3f025920437f7905",
        "name": "Error handling",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 460,
        "wires": []
    },
    {
        "id": "cdb477a98e9f7dc5",
        "type": "debug",
        "z": "3f025920437f7905",
        "name": "Log Addition Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 300,
        "wires": []
    },
    {
        "id": "4b58f8cefa56a306",
        "type": "subflow:e260c7f298a6dd52",
        "z": "3f025920437f7905",
        "name": "",
        "x": 210,
        "y": 680,
        "wires": [
            [
                "72822ea23e2002d7"
            ],
            [
                "35885cb058ac622f"
            ]
        ]
    },
    {
        "id": "35885cb058ac622f",
        "type": "debug",
        "z": "3f025920437f7905",
        "name": "Error handling",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 700,
        "wires": []
    },
    {
        "id": "72822ea23e2002d7",
        "type": "function",
        "z": "3f025920437f7905",
        "name": "Parse Evaluation Results",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 660,
        "wires": [
            [
                "e736dc111c27129f"
            ]
        ]
    },
    {
        "id": "e736dc111c27129f",
        "type": "debug",
        "z": "3f025920437f7905",
        "name": "Evaluation Results",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 660,
        "wires": []
    },
    {
        "id": "0c24b71d92ae68aa",
        "type": "debug",
        "z": "3f025920437f7905",
        "name": "Error handling",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 60,
        "wires": []
    },
    {
        "id": "1599caf449da9654",
        "type": "subflow:36d9140454085321",
        "z": "5cd3e556e55bdc82",
        "name": "",
        "x": 460,
        "y": 40,
        "wires": [
            [
                "13813eddeab8c36f"
            ],
            [
                "cc23d5fc6263dc6a"
            ]
        ]
    },
    {
        "id": "13813eddeab8c36f",
        "type": "debug",
        "z": "5cd3e556e55bdc82",
        "name": "KFP Config output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 20,
        "wires": []
    },
    {
        "id": "11128e9c7d6dd2ed",
        "type": "subflow:6c8e8b38498d052d",
        "z": "5cd3e556e55bdc82",
        "name": "",
        "x": 460,
        "y": 160,
        "wires": [
            [
                "609b6d104945490d"
            ],
            [
                "9295bb9c94f0a7db"
            ]
        ]
    },
    {
        "id": "237781b0b7656957",
        "type": "function",
        "z": "5cd3e556e55bdc82",
        "name": "pre-trigger logic",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 140,
        "wires": [
            [
                "11128e9c7d6dd2ed"
            ]
        ]
    },
    {
        "id": "609b6d104945490d",
        "type": "function",
        "z": "5cd3e556e55bdc82",
        "name": "post-trigger logic",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 200,
        "wires": [
            [
                "2bb7e852f87c8b53"
            ]
        ]
    },
    {
        "id": "2bb7e852f87c8b53",
        "type": "subflow:56428973cc4e2070",
        "z": "5cd3e556e55bdc82",
        "name": "",
        "x": 180,
        "y": 320,
        "wires": [
            [
                "332a6dfe8e76b2cb"
            ],
            [
                "3e94ae6d252fee4b"
            ]
        ]
    },
    {
        "id": "332a6dfe8e76b2cb",
        "type": "function",
        "z": "5cd3e556e55bdc82",
        "name": "results processing",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 300,
        "wires": [
            [
                "2c630bd1ad1a2a57"
            ]
        ]
    },
    {
        "id": "2c630bd1ad1a2a57",
        "type": "objects",
        "z": "5cd3e556e55bdc82",
        "objects_name": "Fetch artifacts",
        "host": "352dada70d1a3bc5",
        "objects_operation": "",
        "objects_bucket": "",
        "objects_object": "",
        "objects_offset": "",
        "objects_length": "",
        "objects_stream": "",
        "objects_size": "",
        "objects_metadata": "",
        "objects_sourceobject": "",
        "objects_conditions": "",
        "objects_objectslist": [],
        "objects_prefix": "",
        "objects_etag": "",
        "objects_datetime": "",
        "x": 580,
        "y": 320,
        "wires": [
            [
                "add5991e472a331f"
            ],
            [
                "a409828808a1c865"
            ]
        ]
    },
    {
        "id": "add5991e472a331f",
        "type": "function",
        "z": "5cd3e556e55bdc82",
        "name": "artifact processing",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 300,
        "wires": [
            [
                "6f52d4549c064574"
            ]
        ]
    },
    {
        "id": "a409828808a1c865",
        "type": "debug",
        "z": "5cd3e556e55bdc82",
        "name": "Error handling",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 360,
        "wires": []
    },
    {
        "id": "6f52d4549c064574",
        "type": "debug",
        "z": "5cd3e556e55bdc82",
        "name": "Outputs",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 300,
        "wires": []
    },
    {
        "id": "cc23d5fc6263dc6a",
        "type": "debug",
        "z": "5cd3e556e55bdc82",
        "name": "Error handling",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 60,
        "wires": []
    },
    {
        "id": "9295bb9c94f0a7db",
        "type": "debug",
        "z": "5cd3e556e55bdc82",
        "name": "Error handling",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 220,
        "wires": []
    },
    {
        "id": "3e94ae6d252fee4b",
        "type": "debug",
        "z": "5cd3e556e55bdc82",
        "name": "Error handling",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 360,
        "wires": []
    },
    {
        "id": "b3fc56cd1e764d50",
        "type": "inject",
        "z": "5cd3e556e55bdc82",
        "name": "trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "237781b0b7656957"
            ]
        ]
    },
    {
        "id": "a511bfe93e5327a9",
        "type": "subflow:36d9140454085321",
        "z": "7dfe840f35691401",
        "name": "",
        "x": 400,
        "y": 40,
        "wires": [
            [
                "fe38910234b95533"
            ],
            [
                "a7629b075f1384f2"
            ]
        ]
    },
    {
        "id": "fe38910234b95533",
        "type": "debug",
        "z": "7dfe840f35691401",
        "name": "KFP Config output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 20,
        "wires": []
    },
    {
        "id": "a7629b075f1384f2",
        "type": "debug",
        "z": "7dfe840f35691401",
        "name": "Error handling",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 60,
        "wires": []
    },
    {
        "id": "0fa8b36b53e25456",
        "type": "subflow:9c7d38f8544a5123",
        "z": "7dfe840f35691401",
        "name": "",
        "x": 420,
        "y": 220,
        "wires": [
            [
                "8812f7b13e8f5507",
                "7b7d94d1bb31b3e9"
            ],
            [
                "9d27245a1ecae3d5"
            ]
        ]
    },
    {
        "id": "dda9d22fd484ba6a",
        "type": "subflow:d6a71f5d83bb6739",
        "z": "7dfe840f35691401",
        "name": "",
        "x": 260,
        "y": 380,
        "wires": [
            [
                "4e7f390cdeee1170"
            ],
            [
                "f2305eca07a1873e"
            ]
        ]
    },
    {
        "id": "a819adfd0ee320b5",
        "type": "inject",
        "z": "7dfe840f35691401",
        "name": "trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 180,
        "wires": [
            [
                "03c3d1dc8ea5ce25"
            ]
        ]
    },
    {
        "id": "03c3d1dc8ea5ce25",
        "type": "function",
        "z": "7dfe840f35691401",
        "name": "New Schedule",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 220,
        "wires": [
            [
                "0fa8b36b53e25456"
            ]
        ]
    },
    {
        "id": "8812f7b13e8f5507",
        "type": "debug",
        "z": "7dfe840f35691401",
        "name": "Schedule Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 160,
        "wires": []
    },
    {
        "id": "9d27245a1ecae3d5",
        "type": "debug",
        "z": "7dfe840f35691401",
        "name": "Error handling",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 260,
        "wires": []
    },
    {
        "id": "7b7d94d1bb31b3e9",
        "type": "function",
        "z": "7dfe840f35691401",
        "name": "Post-Schedule-Setup logic ",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "00bc166ffb1d11d4",
        "type": "function",
        "z": "7dfe840f35691401",
        "name": "Event listener setup",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 320,
        "wires": [
            [
                "dda9d22fd484ba6a"
            ]
        ]
    },
    {
        "id": "f2305eca07a1873e",
        "type": "debug",
        "z": "7dfe840f35691401",
        "name": "Error handling",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 440,
        "wires": []
    },
    {
        "id": "4a531a5265ca0325",
        "type": "subflow:56428973cc4e2070",
        "z": "7dfe840f35691401",
        "name": "",
        "x": 200,
        "y": 600,
        "wires": [
            [
                "586cbb888fa5bd91"
            ],
            [
                "195ddca70458b516"
            ]
        ]
    },
    {
        "id": "586cbb888fa5bd91",
        "type": "function",
        "z": "7dfe840f35691401",
        "name": "results processing",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 580,
        "wires": [
            [
                "957036aa52cde219"
            ]
        ]
    },
    {
        "id": "957036aa52cde219",
        "type": "objects",
        "z": "7dfe840f35691401",
        "objects_name": "Fetch artifacts",
        "host": "352dada70d1a3bc5",
        "objects_operation": "",
        "objects_bucket": "",
        "objects_object": "",
        "objects_offset": "",
        "objects_length": "",
        "objects_stream": "",
        "objects_size": "",
        "objects_metadata": "",
        "objects_sourceobject": "",
        "objects_conditions": "",
        "objects_objectslist": [],
        "objects_prefix": "",
        "objects_etag": "",
        "objects_datetime": "",
        "x": 600,
        "y": 600,
        "wires": [
            [
                "307c948af17b4fa5"
            ],
            [
                "be6bd314cd98aaba"
            ]
        ]
    },
    {
        "id": "307c948af17b4fa5",
        "type": "function",
        "z": "7dfe840f35691401",
        "name": "artifact processing",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 580,
        "wires": [
            [
                "4280ddf0a787c1cb"
            ]
        ]
    },
    {
        "id": "be6bd314cd98aaba",
        "type": "debug",
        "z": "7dfe840f35691401",
        "name": "Error handling",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 640,
        "wires": []
    },
    {
        "id": "4280ddf0a787c1cb",
        "type": "debug",
        "z": "7dfe840f35691401",
        "name": "Outputs",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 580,
        "wires": []
    },
    {
        "id": "195ddca70458b516",
        "type": "debug",
        "z": "7dfe840f35691401",
        "name": "Error handling",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 640,
        "wires": []
    },
    {
        "id": "4e7f390cdeee1170",
        "type": "function",
        "z": "7dfe840f35691401",
        "name": "pipeline run event processing",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 380,
        "wires": [
            [
                "4a531a5265ca0325"
            ]
        ]
    },
    {
        "id": "57df40ef27be3b5e",
        "type": "inject",
        "z": "7dfe840f35691401",
        "name": "trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 280,
        "wires": [
            [
                "00bc166ffb1d11d4"
            ]
        ]
    },
    {
        "id": "2b9a06751384180f",
        "type": "inject",
        "z": "7dfe840f35691401",
        "name": "trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 40,
        "wires": [
            [
                "a511bfe93e5327a9"
            ]
        ]
    },
    {
        "id": "fa5d8bc1d91e9134",
        "type": "inject",
        "z": "9db4af518e108976",
        "name": "GOOD FEEDBACK",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "routingKey",
                "v": "activelearning.app1.model1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"modelID\":4,\"feedback\":\"ok\",\"imageID\":1,\"doctorID\":5,\"patientID\":3}",
        "payloadType": "json",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "e6119a46b815c12e",
                "0de11f879fda3761"
            ]
        ]
    },
    {
        "id": "aee36c513c25a05d",
        "type": "function",
        "z": "9db4af518e108976",
        "name": "create parts",
        "func": "msg.parts={};\nmsg.parts.id = msg.payload.imageID+msg.payload.patientID;\nmsg.parts.count=2;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 400,
        "wires": [
            [
                "4469175c609b2986"
            ]
        ]
    },
    {
        "id": "4469175c609b2986",
        "type": "join",
        "z": "9db4af518e108976",
        "name": "Join in One",
        "mode": "auto",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "comparisonField",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 710,
        "y": 400,
        "wires": [
            [
                "c060845de5c1d46a",
                "e4542c729bb3c791"
            ]
        ]
    },
    {
        "id": "c060845de5c1d46a",
        "type": "debug",
        "z": "9db4af518e108976",
        "name": "debug 34",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 480,
        "wires": []
    },
    {
        "id": "ec2d362d0bc3e89a",
        "type": "inject",
        "z": "9db4af518e108976",
        "name": "BAD FEEDBACK",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "routingKey",
                "v": "activelearning.app1.model1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"modelID\":4,\"feedback\":\"wrong\",\"imageID\":1,\"doctorID\":6,\"patientID\":2}",
        "payloadType": "json",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "e6119a46b815c12e"
            ]
        ]
    },
    {
        "id": "e4542c729bb3c791",
        "type": "function",
        "z": "9db4af518e108976",
        "name": "compare feedbacks",
        "func": "if ((msg.payload[0].feedback)==(msg.payload[1].feedback)) {\n    return [msg,null];\n} else {\n    return [null,msg];\n}\n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 400,
        "wires": [
            [
                "120b2d00836d1305"
            ],
            [
                "341745117b49659b"
            ]
        ]
    },
    {
        "id": "120b2d00836d1305",
        "type": "debug",
        "z": "9db4af518e108976",
        "name": "NORMAL",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 360,
        "wires": []
    },
    {
        "id": "341745117b49659b",
        "type": "debug",
        "z": "9db4af518e108976",
        "name": "ALERT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 440,
        "wires": []
    },
    {
        "id": "eb36a511c7513007",
        "type": "comment",
        "z": "9db4af518e108976",
        "name": "Feedback Consolidation Pattern",
        "info": "",
        "x": 150,
        "y": 120,
        "wires": []
    },
    {
        "id": "0de11f879fda3761",
        "type": "debug",
        "z": "9db4af518e108976",
        "name": "debug 37",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 180,
        "wires": []
    },
    {
        "id": "bb12b82d05721bca",
        "type": "amqp-in",
        "z": "9db4af518e108976",
        "name": "",
        "broker": "8a0706320fa877e8",
        "prefetch": 0,
        "noAck": true,
        "exchangeName": "feedback",
        "exchangeType": "topic",
        "exchangeRoutingKey": "activelearning.app1.model1",
        "exchangeDurable": true,
        "queueName": "feedback",
        "queueExclusive": false,
        "queueDurable": true,
        "queueAutoDelete": false,
        "headers": "{}",
        "x": 170,
        "y": 400,
        "wires": [
            [
                "aee36c513c25a05d"
            ]
        ]
    },
    {
        "id": "e6119a46b815c12e",
        "type": "amqp-out",
        "z": "9db4af518e108976",
        "name": "",
        "broker": "8a0706320fa877e8",
        "exchangeName": "feedback",
        "exchangeType": "topic",
        "exchangeRoutingKey": "",
        "exchangeRoutingKeyType": "str",
        "exchangeDurable": true,
        "amqpProperties": "{ \"headers\": {} }",
        "rpcTimeoutMilliseconds": 3000,
        "outputs": 0,
        "x": 460,
        "y": 240,
        "wires": []
    },
    {
        "id": "66943fcd7a86b071",
        "type": "comment",
        "z": "9db4af518e108976",
        "name": "Testing part",
        "info": "",
        "x": 90,
        "y": 200,
        "wires": []
    },
    {
        "id": "fbfee0756d74b05a",
        "type": "comment",
        "z": "9db4af518e108976",
        "name": "Main Implementation",
        "info": "",
        "x": 110,
        "y": 500,
        "wires": []
    }
]